---
import PageTitle from "../components/PageTitle.astro";
import Layout from "../layouts/Layout.astro";

const allPosts = Object.values(
  await import.meta.glob("./posts/*.md", { eager: true }),
);
---

<Layout>
  <PageTitle
    title="Posts"
    description="My thoughts about something that interest me."
    center={true}
  />
  <!-- Posts Section -->
  <section id="posts" class="section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4 post-cards">
        {
          allPosts.map((post: any) => (
            <div class="col-sm-12 col-md-12 col-lg-4 mb-4">
              <div
                class="card text-dark card-has-bg click-col"
                style={`background-image:url('${post.frontmatter.image}')`}
              >
                <img
                  class="card-img d-none"
                  src={post.frontmatter.image}
                  alt={post.frontmatter.title}
                />
                <div class="card-img-overlay d-flex flex-column">
                  <div class="card-body">
                    <small class="card-meta mb-2">Blog post</small>
                    <h4 class="card-title mt-0">
                      <a class="stretched-link" href={post.url}>
                        {post.frontmatter.title}
                      </a>
                    </h4>
                    <small>
                      <i class="bi bi-clock" />{" "}
                      {new Date(post.frontmatter.date).toLocaleDateString(
                        "en-US",
                        {
                          year: "numeric",
                          month: "long",
                          day: "numeric",
                        },
                      )}
                    </small>
                  </div>
                  <div class="card-footer">
                    <small>{post.frontmatter.description}</small>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
