---
import PageTitle from "../components/PageTitle.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout>
  <PageTitle
    title=`Project: ${frontmatter.title}`
    `
    description={frontmatter.description}
    center={true}
  />

  <!-- Portfolio Details Section -->
  <section id="portfolio-details" class="portfolio-details section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper init-swiper">
            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                }
              }
            </script>

            <div class="swiper-wrapper align-items-center">
              {
                frontmatter.images.map((image: any) => (
                  <div class="swiper-slide">
                    <img src={image} alt="" />
                  </div>
                ))
              }
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
            <h3>Project information</h3>
            <ul>
              <li><strong>Description</strong>: {frontmatter.description}</li>
              <li><strong>Role</strong>: {frontmatter.role}</li>
              <li>
                <strong>Project URL</strong>: <a
                  href={frontmatter.project_url}
                  target="_blank">{frontmatter.project_url}</a
                >
              </li>
            </ul>
          </div>
          <div
            class="portfolio-description"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <slot />
          </div>
        </div>
      </div>
    </div>
  </section><!-- /Portfolio Details Section -->
</Layout>
